<p><a href="/" role="button">首页</a>-><a href="/map/config" role="button">运营配置</a>-><a href="/map/config/sign" role="button">签到配置</a>->更新配置</p>
<div class="page-header">
	<form class="form-search">
	<p>签到配置内容[JSON]</p><input type="text" name="new_config" class="search-query">
	<button type="submit" class="btn btn-primary">更新</button>
	</form>
</div>