
<p><a href="/" role="button">首页</a>->运营配置</p>
<div class="row marketing">
	<div class="col-lg-6">
        <h4>1 签到</h4>
        <p>配置查看玩家每日签到信息...</p>
        <p><a class="btn btn-default" href="/map/config/sign" role="button">查看详情 &raquo;</a></p>
        <h4>2 跑马灯</h4>
        <p>配置查看跑马灯展示信息...</p>
        <!-- <p><a class="btn btn-default" href="/map/config/marquee" role="button">查看详情 &raquo;</a></p> -->
				<h4>3 计费点</h4>
        <p>配置查看计费点和事件点...</p>
        <p><a class="btn btn-default" href="/map/config/mo" role="button">查看详情 &raquo;</a></p>
				<h4>4 普通事件点</h4>
        <p>查看普通事件点的定义...</p>
        <p><a class="btn btn-default" href="/config/commonevent" role="button">查看详情 &raquo;</a></p>
	</div>
</div>
