
<p><a href="/" role="button">首页</a>-><a href="/map/config" role="button">运营配置</a>->跑马灯配置</p>
<div class="row marketing">
	<div class="col-lg-6">
        <h4>1 配置查看</h4>
        <p>查看当前的跑马灯配置...</p>
        <p><a class="btn btn-default" href="/config/marquee/current" role="button">查看详情 &raquo;</a></p>
        <h4>2 配置更改</h4>
        <p>更改当前的签到配置信息...</p>
        <p><a class="btn btn-default" href="/config/marquee/update" role="button">查看详情 &raquo;</a></p>
        <h4>3 指定日期配置</h4>
        <p>添加指定日期配置信息...</p>
        <p><a class="btn btn-default" href="/config/marquee/someday" role="button">查看详情 &raquo;</a></p>
	</div>
</div>
