<p><a href="/" role="button">首页</a>-><a href="/map/config" role="button">运营配置</a>->计费点配置</p>
<div class="row marketing">
	<div class="col-lg-6">
        <h4>1 计费点</h4>
        <p>查看计费点信息...</p>
        <p><a class="btn btn-default" href="/config/mo/paypoint" role="button">查看详情 &raquo;</a></p>
        <h4>2 事件点</h4>
        <p>查看事件点信息...</p>
        <p><a class="btn btn-default" href="/config/mo/payevent" role="button">查看详情 &raquo;</a></p>
	</div>
</div>
