<p><a href="/" role="button">首页</a>-><a href="/map/data" role="button">数据报表</a>->游戏分析</p>
<div class="row marketing">
	<div class="col-lg-6">
        <h4>1 鱼群统计</h4>
        <p>分析各条鱼在的行为...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/fishinfo" role="button">查看详情 &raquo;</a></p>
        <h4>2 破产统计</h4>
        <p>破产行为统计...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/bankrupt" role="button">查看详情 &raquo;</a></p>
				<h4>3 美人鱼任务</h4>
        <p>美人鱼任务...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/mermaidask" role="button">查看详情 &raquo;</a></p>
				<h4>4 页面跳转</h4>
        <p>页面跳转...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/pagechange" role="button">查看详情 &raquo;</a></p>
				<h4>5 赠送系统</h4>
        <p>统计赠送道具的情况...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/presented" role="button">查看详情 &raquo;</a></p>
				<h4>6 技能使用统计</h4>
        <p>技能使用统计...</p>
         <p><a class="btn btn-default" href="/data/event/dayreport/skilluse" role="button">查看详情 &raquo;</a></p>
				<h4>7 炮台升级统计</h4>
        <p>炮台升级统计...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/turrentlevel" role="button">查看详情 &raquo;</a></p>
				<h4>8 抽奖统计</h4>
        <p>炮台升级统计...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/turntable" role="button">查看详情 &raquo;</a></p>
				<h4>9 消耗统计</h4>
        <p>用户每日消耗[金币和钻石]统计...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/expend" role="button">查看详情 &raquo;</a></p>
				<h4>10 炮台分布</h4>
        <p>用户每日新增和活跃的炮台分布...</p>
        <p><a class="btn btn-default" href="/data/event/dayreport/turrentlevelgroup" role="button">查看详情 &raquo;</a></p>
	</div>
</div>
