<p><a href="/" role="button">首页</a>->数据报表</p>
<div class="row marketing">
	<div class="col-lg-6">
        <h4>1 渠道日报</h4>
        <p>查看分渠道的基础信息...</p>
        <p><a class="btn btn-default" href="/data/channel/dayreport" role="button">查看详情 &raquo;</a></p>
        <h4>2 计费分布</h4>
        <p>计费点和事件点的分布统计信息...</p>
        <p><a class="btn btn-default" href="/data/pay/dayreport" role="button">查看详情 &raquo;</a></p>
				<h4>3 游戏分析</h4>
        <p>事件统计行为展现...</p>
        <p><a class="btn btn-default" href="/map/data/event" role="button">查看详情 &raquo;</a></p>
				<h4>4 用户数据查询</h4>
        <p>查询单个用户的基本信息...</p>
        <p><a class="btn btn-default" href="/data/userinfo/query" role="button">查看详情 &raquo;</a></p>
	</div>
</div>
