<p><a href="/" role="button">首页</a>->更新记录</p>
<h4>P0.2.6</h4>
<p>2016-03-10</p>
<p>TODO：增加鱼群统计界面新显示项：捕获占比、获得金币、回收金币</p>
<p>TODO：首页增加版本更新记录按钮</p>
<p>TODO：日报，按日统计中增加arpu的统计</p>
<p>TODO：日报，按渠道统计中增加次日流程占比、arpu统计</p>
<h4>P0.2.5</h4>
<p>2016-03-09</p>
<p>TODO：增加鱼群分房间查询按钮，功能还没有实现</p>
<h4>P0.2.4</h4>
<p>2016-03-08</p>
<p>更新用户查询mr功能，不再返回单一sky数据，改为通用支付数据；</p>
<h4>P0.2.3</h4>
<p>2016-03-04</p>
<p>增加导出为csv文件功能；</p>
<h4>P0.2.4</h4>
<p>TODO : 增加导出为cvs功能;</p>
<p>TODO : 增加单日mr查询;</p>
<p>TODO : 增加统计信息的分渠道对比查询;</p>
<p>2016-02-29</p>
<p>计费分布增加展示请求占比；</p>
<p>用户信息支持查询用户在游戏中的信息；</p>
<p>破产统计bug修订，能够显示玩家的破产次数和领取次数；</p>
<p>破产统计可以查看领取比例；</p>
<p>页面跳转分布按照次数排序；</p>
<p>总送页面道具数字转化为文字；</p>
<p>炮台统计增加按照分钟显示的信息；</p>
<p>消耗增加人均计算；</p>
<p>炮台分布增加累计占比；</p>
<p>允许查看用户的注册信息；</p>
<p>赠送页面增加人均赠送数量显示；</p>
<h4>P0.2.2</h4>
<p>2016-02-27</p>
<p>炮台分布计算出用户的占比；</p>
<h4>P0.2.1</h4>
<p>2016-02-22</p>
<p>渠道日报允许查看单一渠道的10日数据；</p>
<p>首页增加进入bug管理系统的链接；</p>
<p>优化mo分布查看页面的展示：按照mo金额排序；</p>
<p>优化mo分布只查看当日的最新版本；</p>
<p>允许查看单个用户的信息：mo、mr、页面跳转记录；</p>
<h4>P0.2.0</h4>
<p>2016-02-19</p>
<p>增加每日消耗统计；</p>
<p>增加每日炮台分布统计；</p>
<h4>P0.1.0</h4>
<p>2016-02-08</p>
<p>完整的基础后台系统；</p>
