<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>捕鱼.控制台</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/useradd/sticky-footer.css" rel="stylesheet">

  </head>
  <body>
  	<div class="container">
  		<div class="header clearfix">
        	<nav>
          		<ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/switchuser">账号切换</a></li>
            		<li role="presentation" class="active"><a href="/">首页</a></li>
          		</ul>
        	</nav>
        	<h3 class="text-muted">捕鱼.控制台</h3>
      	</div>

    	{{{body}}}

    	<footer class="footer">
        	<p>Power By &copy;TaaS 2015</p>
    	</footer>
  	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/excellentexport.min.js"></script>
  </body>
</html>
