<script type="text/javascript">
function open_win()
{
window.open("https://bugtags.com/console/apps/1526206266608114")
}
</script>
<div class="row marketing">
	<div class="col-lg-6">
        <h4>运营配置</h4>
        <p>配置游戏的常用信息...</p>
        <p><a class="btn btn-default" href="/map/config" role="button">查看详情 &raquo;</a></p>
				<h4>数据报表</h4>
        <p>查看数据仪表盘...</p>
        <p><a class="btn btn-default" href="/map/data" role="button">查看详情 &raquo;</a></p>
				<h4>帮助系统</h4>
        <p>查看帮助,用户反馈内容...</p>
        <p><a class="btn btn-default" href="/map/help" role="button">查看详情 &raquo;</a></p>
				<h4>更新记录</h4>
        <p>查看后台更新历史...</p>
        <p><a class="btn btn-default" href="/map/update" role="button">查看详情 &raquo;</a></p>
				<h4>BUG管理</h4>
        <p>第三方bug管理系统...</p>
        <input type=button value="进入" class="btn btn-primary" onclick="open_win()" />
	</div>
</div>
