    
      <form class="form-signin">
        <h2 class="form-signin-heading">注册信息填写</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="username" class="form-control" placeholder="邮箱地址" required autofocus>
        <p></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="passwd" class="form-control" placeholder="密码" required>
        <p></p>
        <label for="inputReqinfo" class="sr-only">申请说明</label>
        <input type="text" id="inputReqinfo" name="reqinfo" class="form-control" placeholder="申请说明.如谁申请的" required>
        <!--
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        -->
        <p></p>
        <p>您可以填写申请注册新用户，申请会有人工审核，如果审核通过，2个工作日内会收到答复。没有通过审核的申请不会收到任何回复。</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">申请</button>
      </form>
